/*MEDIA IPAD PC MOBILE*/

@media (min-width: 768px) {
    .contenedor-principal {
      flex-direction: row;
      justify-content: space-around;
    }
  
    .formulario-contacto {
      width: 50%;
    }
  }
  
  /*RESPONSIVE */
  @media (max-width: 768px) {
    /*header*/
  
    .mostrar-menu, .esconder-menu {
      display: block;
    }
  
    .menu {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: grey;
      right: -100%;
      top: 0;
      text-align: center;
      padding: 100px 0px;
      z-index: 100;
      transition: 0.8s;
  
      a {
        display: block;
        padding: 20px;
      }
    }
  
    .esconder-menu {
      position: absolute;
      top: 40px;
      right: 40px;
    }
  
    #check:checked ~ .menu {
      right: 0;
    }
  
    /*servicios*/
  
    #servicios {
      flex-direction: column;
    }
  }
  